<h1>Quizard</h1>
<br>
<div class="booyah-box offset-1" >
<h2>Are you a cat or a dog person?</h2>
<%= link_to "Answer!", new_answer_path %>
<br>
<br>
<h2><b>Previous Answers</b></h2>
<% @answers.each do |answer| %>
  <div class="row">
    <h4><%= answer.response %></h4>
  </div>
<% end %>
</div>